@charset "utf-8";
body {
  padding: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f4;
}
h1 {
  color: #333;
}
button {
  padding: 10px 20px; /*상하: 10 좌우: 20 안쪽 여백  */
  background-color: #007bff;
  color: white;
  border: none; /*버튼 아웃라인 없애기*/
  border-radius: 5px; /*둥글게*/
  margin: 5px 2px;
  cursor: pointer; /*버튼에 커서 갖다 댈시 커서 모양 변경*/
  font-size: 16px;
}
button:hover {
  background-color: #0056b3; /*버튼 호버시 버튼 색 변경 */
}
#newsContainer {
  width: 80%;
  max-width: 600px;
  margin: 20px auto;
  text-align: left;
}
#newsContainer li {
  list-style-type: none; /*동글뱅이 없애기 */
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  border-left: 4px solid #007bff;
  box-shadow: 0 2px 4px rgb(0, 0, 0, 0.1);
  margin-bottom: 10px;
  transition: background-color 0.3s;

  /*배경색 속성이 변경될 때 그 변화가 0.3초동안 부드럽게 일어나도록*/
}
#newsContainer li:hover {
  background-color: #f0f0f0;
}
#newsContainer li a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
}
#newsContainer li a:hover {
  color: #007bff;
}
